<div class="container">
        <div class="panel panel-default ">
                <div class="alert alert-success">
                        <span class="lead">
                                Welcome to User Registration System
                        </span>
                </div>
                <div class="panel-body ">
                        <div class="alert alert-info">
                                <ul>
                                        <li>
                                                Please click on
                                                <strong>Register New User</strong>
                                                to register a new user.
                                        </li>
                                        <li>
                                                Please click on
                                                <strong>List All Users</strong>
                                                to get all users.
                                        </li>
                                </ul>
                        </div>
                </div>
        </div>
</div >